// Colors
$beige: hsl(48, 50%, 88%);
$palespring: hsl(70, 47%, 81%);
$olive: hsl(76, 37%, 61%);
$aulait: hsl(26, 28%, 53%);
$umber: hsl(23, 17%, 36%);
$coffee: hsl(23, 17%, 18%);
$black: hsl(15, 17%, 5%);

// Margings
$gutter: 1rem;
$m-xl: 2rem;
$m-lg: 1rem;
$m-md: 0.5rem;
$m-sm: 0.25rem;

// Padding
$p-xl: $m-xl;
$p-lg: $m-lg;
$p-md: $m-md;
$p-sm: $m-sm;
