.card.nightMode {
  background: rgb(#4d194d, 80%);

  &::after {
    content: '';
    background: rgb(#eaac8b, 80%);
    clip-path: circle(40% at 10% 100%);
  }
}

.nightMode {
  .cloze {
    color: $palespring;
  }

  .tag {
    border-color: $palespring;
    color: $palespring;
  }
}
